body {
	background: url('img/bg5.png');
	color: #7F8289;
	/* цвет шрифта */
	font-weight: 300;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	line-height: 28px;
}

a {
	color: #DE5E60;
	text-decoration: none;
	/* не подчёркивало */
	cursor: pointer;
	transition: color 0.1s linear 0s;
}

a:hover,
a:active,
a:focus {
	outline: 0;
	color: #FFFFFF;
	text-decoration: none;
}

input,
button,
select,
textarea {
	font-weight: 300;
	font-family: 'Titillium Web', sans-serif;
	outline: 0;
}


/* ================================================== ================================================== */

header {
	width: 100%;
	z-index: 99;
}

header .sticky-nav {
	position: relative;
	width: 100%;
	min-height: auto;
	overflow: hidden;
	background: #26292E;
	z-index: 1001;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

header .sticky-nav.stuck {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
}

header #logo {
	color: #FFFFFF;
	padding: 2vw 0;
	margin: 0 2vw;
}

header #logo a {
	background: url(img/logo.png) no-repeat;
	background-size: 100%;
	height: 3vw;
	width: 9vw;
	text-indent: -9999px;
	display: block;
	opacity: 1;
	filter: alpha(opacity=100);
	transition: opacity 0.25s ease-in-out 0s;
}

header #logo a:hover {
	opacity: 0.65;
	filter: alpha(opacity=65);
}

nav#menu {
	float: center;
	margin-right: 1vw;
}

nav#menu {
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
	flex-flow: row wrap;
	align-content: stretch;
	justify-content: center;
	/* Выравнивание по центру */
}

#menuNav {
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
	flex-flow: row wrap;
	align-content: stretch;
	justify-content: center;
	/* Выравнивание по центру */
}

nav#menu #menuNav li {
	list-style: none;
	padding: 2vw 0px 0px 0px;
	margin-right: 1vw;
	position: relative;
	display: inline-block;
}

nav#menu #menuNav li:first-child {
	margin-left: 0;
	padding-left: 1vw;
}

nav#menu #menuNav li a {
	color: #FFFFFF;
	font-size: 1.5vw;
	font-weight: 300;
	text-transform: uppercase;
}

nav#menu #menuNav li.current a,
nav#menu #menuNav li a:hover {
	color: #DE5E60;
}


/* ================================================== ================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px 0;
	color: #FFFFFF;
	font-weight: 300;
	font-family: 'Titillium Web', sans-serif;
	line-height: 1.5em;
}


/* ================================================== ================================================== */

.page {
	background: #2F3238;
	padding: 100px 0;
	position: relative;
	z-index: 99;
}

.page-alternate {
	background: #26292E;
	padding: 100px 0;
	position: relative;
	z-index: 99;
}

.title-page {
	text-align: center;
}

.title-page .title {
	font-size: 40px;
	margin: 0 0 10px 0
}

.title-page .title-description {
	font-size: 24px;
	font-weight: 200;
	margin: 0;
}


/* ================================================== ================================================== */

footer {
	position: relative;
	width: 100%;
	height: auto;
	background: #26292E;
	text-align: center;
	z-index: 99;
}

footer .goodbye {
	color: #FFFFFF;
	font-size: 13px;
	margin-bottom: 0;
	padding: 20px 0;
	text-transform: uppercase;
}


/* Основные стили работы слайдшоу */

#slides {
	position: relative;
	height: 42vw;
	width: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	opacity: 0;
	z-index: 1;
	transition: opacity 1s;
}

.showing {
	opacity: 1;
	z-index: 2;
}


/* дополнительные стили для внешнего вида */

.slide {
	font-size: 40px;
	padding: 20px;
	box-sizing: border-box;
	background: #333;
	color: #fff;
	background-size: cover;
}

.controls {
	display: none;
}

.controls {
	background: #333;
	color: #fff;
	border: none;
	padding: 20px 0px;
	font-size: 20px;
	cursor: pointer;
	border: 2px solid #fff;
	margin: 10px 0px 0px 10px;
	width: 70px;
}

.controls:hover,
.controls:focus {
	background: #eee;
	color: #333;
}

.container {
	position: relative;
}

.buttons {
	position: relative;
	/* left: 50%;
     */
	/* margin-right: -50%;
     */
	top: 0px;
	z-index: 2001;
	font-size: 0px;
	/* transform: translateX(50%);
     */
}

#flexContainer {
	margin: 7%;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	/* Выравнивание по центру */
	align-items: center;
}

.element-of-fb {
	margin: 1%;
	position: relative;
	width: 80%;
	z-index: 1;
	transition: all 5s ease;
}

.detail-box {
	width: 50%;
	padding: 20px;
	position: absolute;
	left: 8%;
	bottom: -500px;
	z-index: 10;
	transition: all 1s;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.7);
	background: linear-gradient(to left, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089fff1', endColorstr='#000000', GradientType=0);
	overflow: hidden;
}

.detail-title {
	width: 100%;
	float: left;
	margin: 5px 0 5px 0;
	padding: 5px 0 5px 0;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	font-weight: bold;
	word-wrap: break-word;
}

.detail-desc {
	width: 100%;
	float: left;
	margin-top: 5px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 1.75vw;
	word-wrap: break-word;
}

.detail-button {
	float: left;
	height: 3vw;
	font-size: 1.75vw;
	width: 33%;
	color: #3781ce;
	margin-top: 10px;
	border-radius: 3px;
	border: none;
	text-color: #fff;
	cursor: pointer;
}

.bg {
	position: absolute;
	z-index: 99;
	overflow: hidden;
	width: 100%;
	height: 25%;
	font-size: 2vw;
	line-height: 100%;
	color: white;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.3);
}

#authorizedUser {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8%;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 2000
}

#authorizedUser * {
	margin: 0 3vw;
}

.download {
	display: block;
	padding: 10px 30px;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	border: 2px solid #fe6637;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	color: #fe6637;
	transition: .2s ease-in-out;
}

.download:before {
	content: "";
	background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
	height: 50px;
	width: 50px;
	position: absolute;
	top: -8px;
	left: -75px;
	transform: skewX(-45deg);
}

.download:hover {
	background: #fe6637;
	color: #fff;
}

.download:hover:before {
	left: 80%;
	transition: .5s ease-in-out;
}

.a_button {
	display: block;
	padding: 10px 30px;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	border: 2px solid #fe6637;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	color: #fe6637;
	transition: .2s ease-in-out;
	padding-left: 20px;
	color: #666;
	background: url(img/lob.png) 0 -109px no-repeat;
}

.a_button :active {
	color: #f00;
	height: 100px;
	background: url(img/lob.png) 0 0px no-repeat;
	transform: scale(4.0);
}

.nb {
	display: none;
	height: 40px;
	padding: 10px 30px;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	/* Отображается область только внутри элемента чтобы */
	border: 2px solid #fe6637;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	background: url(img/lob.png) 0 -102px no-repeat, url(img/lob.png) 120% -102px no-repeat;
	color: #fe6637;
	transition: .2s ease-in-out;
}

.nb:before {
	content: "";
	background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
	height: 50px;
	width: 50px;
	position: absolute;
	top: -8px;
	left: -75px;
	transform: skewX(-45deg);
}

.nb:hover {
	background: url(img/lob.png) 0 10px no-repeat, url(img/lob.png) 130% 10px no-repeat;
	background-size: 30%;
	color: #fff;
}

.nb:hover:before {
	left: 80%;
	transition: .5s ease-in-out;
}

.my-possibilities {
	margin: 1%;
}

#avatar {
	border-radius: 15%;
}

#detailBox1 {
	bottom: 30%;
}

#detailBox2 {
	bottom: 30%;
}

#detailBox3 {
	bottom: 30%;
}

#form {
	width: 33%;
}

.inputs {
	padding: 0px 10%;
	float: right;
}

#name {
	width: 160px;
}

#findIt {
	margin: 1% 1%;
}

#description {
	height: 125px;
	width: 90%;
}

.mobile-wrap {
	max-width: 400px;
	height: auto;
	right: 0;
	position: absolute;
	top: 0%;
	z-index: 999;
	margin: auto;
	color: #fff;
	border: 4px double black;
}

.nav-wrap {
	overflow: hidden;
	position: relative;
}

.nav-wrap .nav-links {
	display: none;
	border: 5px black;
}

.nav-links a {
	font-size: 3vw;
}

.nav-wrap a {
	color: #fff;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 2vw;
	display: none;
}

.nav-wrap a:first-child {
	display: block;
}

.nav-wrap a.icon {
	background: #212121;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.nav-wrap a:hover {
	background-color: #d7ccc8;
	color: #000;
}

.active {
	display: none;
	color: #fff;
}

#addPost {
	display: none;
}